@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
}

body {
  background: #121417;
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

body main {
  background: #252d37;
  max-width: 22rem;
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
}

@media only screen and (min-width: 750px) {
  body main {
    max-width: 25rem;
    padding: 2rem;
  }
}

body main .hide {
  display: none;
}

body main .container-one .star {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: rgba(61, 61, 65, 0.5);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 100%;
  margin-bottom: 1rem;
}

body main .container-one .card-content {
  margin-bottom: 1.5rem;
}

body main .container-one .card-content h1 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

body main .container-one .card-content p {
  color: #959eac;
  font-size: 0.93rem;
  line-height: 1.3rem;
}

body main .container-one .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

body main .container-one .rating .rating-btn {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 100%;
  color: white;
  background-color: rgba(61, 61, 65, 0.5);
  color: #959eac;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body main .container-one .rating .rating-btn:hover {
  background: #fb7413;
  color: white;
}

body main .container-one .rating .active {
  background: #7c8798;
  color: white;
}

body main .container-one .btn {
  outline: none;
  border: none;
  background: #fb7413;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 100%;
  padding: 0.8rem 0;
  font-weight: 700;
  border-radius: 5rem;
  cursor: pointer;
}

body main .container-one .btn:hover {
  background: white;
  color: #fb7413;
}

body main .container-two {
  text-align: center;
  padding: 0.6rem 0;
}

body main .container-two .thank img {
  height: 6rem;
}

body main .container-two .card-contentt {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .container-two .card-contentt .result {
  background-color: rgba(61, 61, 65, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 0.25rem 0.7rem;
  border-radius: 1rem;
  color: #fb7413;
  margin-bottom: 1.5rem;
}

body main .container-two .card-contentt h1 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

body main .container-two .card-contentt p {
  color: #959eac;
  font-size: 0.93rem;
  line-height: 1.3rem;
}
/*# sourceMappingURL=style.css.map */